.fullHeight {
    height: 90vh;
    overflow-x: auto;
}

.charsList { 
margin-top: 2em;
 margin-left: 38.5%;
 margin-right: 38.5%;
 border: 4px solid white;
}

.pushLeft {
    margin-left: 32% !important;
}
.pushBottomLeft {
    float: right !important; 
    margin-right: 2em !important; 
    margin-top: 10em !important
}