<div id="registerWrapper" class="darkTheme-primary">
    <h2>register</h2>
    <form method="post" [formGroup]="registerForm" (ngSubmit)="register">
        <div class="usernameDiv"><input type="text" name="usernameR" id="usernameR" placeholder="username" formControlName="username"></div>
        <div class="error" *ngIf="username?.invalid && (username?.dirty ||!username?.pristine)">
            Username not long enough
        </div>

        <div class="passwordDiv"><input type="password" name="passwordR" id="passwordR" placeholder="password*" formControlName="password" ></div>
        <div class="error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
            Password not long enough
        </div>

        <div class="passwordDiv"><input type="password" name="passwordR" id="passwordRC" placeholder="confirm password*" formControlName="passwordConfirm" ></div>
        <div class="error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
            Password not long enough
        </div>
    </form>
    <span id="submitSpan">
        <mat-checkbox id="loginOnRegister" [checked]="loginOnRegister">Login After Registered?</mat-checkbox>
        <button mat-button class="darkTheme-hover" [disabled]="username?.invalid || password?.invalid || registerForm.errors" (click)="register()" type="submit">Submit</button>
    </span>
</div>