:host ::ng-deep .mat-expansion-panel {
    display: inline;
}

.fullHeight{
     height: 90vh; overflow-x: auto;
}

.spellsTable {
    margin: 0 auto; // Center the table horizontally
    max-width: 50vw; // Adjust the maximum width as needed
    border-radius: 5px;
}

.pushTop {
    margin-top: 1em;
}

.width100{
    width: 100%;
}
.searchWidth{
    width: 50vw;
}